<nav class="nav">
    <ul class="nav-links">
    <li><a href="/#about">About</a></li>
    <li><a href="/#course-overview">Course Overview</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Sessions</a>
      <ul class="dropdown-menu">
        <li><a href="/session-1/">Week 1: Radical Traditions</a></li>
        <li><a href="/session-2/">Week 2: State Power</a></li>
        <li><a href="/session-3/">Week 3: Our Radical History</a></li>
        <li><a href="/session-4/">Week 4: Counter-Power</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Course Materials</a>
      <ul class="dropdown-menu">
        <li><a href="/facilitatorguide/">Facilitators Guide</a></li>
        <li><a href="#">Handouts</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </li>
  </ul>
</nav>
